<mat-toolbar color="primary">
  <button color="primary" mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <span>Business Model Portfolio</span>
  <span class="spacer"></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Projects</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-spinner></mat-spinner>
<h1>Work in Progress</h1>
<!--<mat-selection-list #projects [multiple]="false">-->
<!--  <mat-list-option value="hello">world</mat-list-option>-->
<!--</mat-selection-list>-->
